@model diplomApp.Models.User

<a href="@Url.Action("userProfile", "Account")" class = "nav-link active">
    <div class="userProfile">

        <span>Личный кабинет</span>
        <img src="@Model.PathToAvatar" />

    </div>
    
</a>


