@model diplomApp.Models.AddintionalUserInfo

<a href="@Url.Action("Profile", "Account")" class = "nav-link active">
    <div class="userProfile">

        <span>Личный кабинет</span>
        <img src="@Model.PathToAvatar" />

    </div>
    
</a>
@* @Html.ActionLink("Личный кабинет", "Profile", new { controller = "Account" }, new { @class = "nav-link active" }) *@

