@{
    ViewBag.Title = "Home Page";
}

<div class="row text">
    <div class="col-12">
        <div class="mainimage">
            <img src='/Content/images/main.jpg'>
            <span class='imagelabel green'>Главная</span>
        </div>

        <div class="maincontent">
            <div class="article">
                <h3>Install Tinc and VPN Setup on Debian & Ubuntu</h3>
                <p>
                    In this tutorial, we will go over how to use Tinc, an open source Virtual Private Network (VPN) daemon,
                    to create a secure VPN that your servers can communicate on as if they were on a local network.
                    We will also demonstrate how to use Tinc to set up a secure tunnel into a private network. We will be using Ubuntu 14.04 servers, but the [...]
                </p>
                <a href='' class="btn btn-light">Подробнее...</a>
            </div>  <hr>

            <div class="twocolumns">
                <div class="row">
                    <div class="col-6">
                        <div class="newsimg">
                            <img src='/Content/images/main.jpg'>
                            <span class='imagelabel blue'>Visual studio</span>
                        </div>
                        <h4>Основы работы с visual studio</h4>
                        <p>
                            RWD allows easy reading and navigation with a minimum of resizing, panning, and scrolling—across a wide range of devices (from mobile phones to desktop computer monitors).
                            A site designed with RWD adapts the layout to the viewing environment by using fluid, proportion-based grids, flexible images,and CSS3 media queries, an [...]
                        </p>
                    </div>
                    <div class="col-6">
                        <div class="newsimg">
                            <img src='/Content/images/main.jpg'>
                            <span class='imagelabel green'>turbo Delphi</span>
                        </div>
                        <h4>Основы работы с turbo Delphi</h4>
                        <p>
                            Step One — Root Login To log into your server initially, you will need to know your server’s public IP address and the password for the “root” user’s account.
                            For servers on DigitalOcean, you will receive an email with your server credentials and the server’s IP address. The root user is the [...]
                        </p>
                    </div>
                </div>

            </div><hr>
        </div>



    </div>
</div>